@tailwind base;
@tailwind components;
@tailwind utilities;

/* 🚨 CRÍTICO: Forzar la transparencia en los elementos raíz del navegador */
html, body, #__next {
  background-color: transparent !important;
}
@font-face {
  font-family: 'BeaufortforLOL-Bold';
  src: url('/fonts/BeaufortforLOL-Bold.woff2') format('woff2');
  font-weight: bold;
  font-style: normal;
}

@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400;700;900&family=Roboto:wght@400;700&display=swap');

body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  color: #F0E6D2;
}

.-webkit-app-region-drag {
  -webkit-app-region: drag;
}

.-webkit-app-region-no-drag {
  -webkit-app-region: no-drag;
}
